<h3>Cold observables</h3>
<p>In cold observables the value which produces is created inside the observable. 
  <br> If the observable produces series of integers, it means that integers are declared, created and produced inside the code that defines an observable.
  <br /> Each time the subscribe method is called on the cold observable, the integers code is executed every time.
  <br /> That means cold observable pushes value to single observer at a time.
  <br> examples of cold observales are the rxjs create function like interval and ajax.
  <br>They are unicast.
</p>

<h3>Hot Observables</h3>
  <p>They are opposite of cold Observables.
  <br>The value producer exists outside the observable. Since the value is outside the observable, it can execute if there are no observers also.
  <br> Shared value producers allows multiple observers receiving the same value at a time. Because of this, hot observables are multicast.
  <br>example : fromEvent
</p>

<p>Sometimes we need to turn the cold observable into a hot observable. Subjects play an effective role in converting the unicast cold observable to the multicast hot observable.</p>