<p>A Subject is like an Observable, but can multicast to many Observers. Subjects are like EventEmitters: they maintain a registry of many listeners.</p>
<div class="operators">
  <div style="flex: 1">
    <h3 class="heading">Higher-Order Operators</h3>
    <ul>
      <li class="topic"><a routerLink="aboutsubject">About Subjects</a></li>
      <li class="topic"><a routerLink="coldhot">Cold & Hot Observables</a></li>
      <li class="topic"><a routerLink="connectable">Connectable</a></li>
      <li class="topic"><a routerLink="share">share</a></li>
      <li class="topic"><a routerLink="behaviorsubject">Behavior Subject</a></li>
      <li class="topic"><a routerLink="replaysubject">Replay Subject</a></li>
      <li class="topic"><a routerLink="asyncsubject">Async Subject</a></li>
      <li class="topic"><a routerLink="voidsubject">Void Subject</a></li>
    </ul>
  </div>

<div class="content">
  <div><router-outlet></router-outlet></div>
</div>
</div>