<!-- example of interpolation binding in Angular -->
<div>Hello, {{ name }}</div>

<button disabled="isBtnDisabled">Demo Button</button>

<!-- example of property binding in Angular -->
<div>
  <img [src]="imgUrl" alt="Google Logo" width="100" />
</div>

<!-- example of event binding in Angular -->
<button (click)="handleClick()">Click Me</button>

<!-- example of two-way binding in Angular -->
<!-- here ngModel is throwing error because it is not imported in app.module.ts, we need to import FormsModule from @angular/forms -->
<input [(ngModel)]="name" placeholder="Enter your name" />

<!-- changing the style of the element using property binding -->
<div [style.color]="hasError ? 'red' : 'green'">Style Binding</div>

<!-- directives in Angular -->
<!-- *ngIf directive -->
<div *ngIf="isBtnDisabled">This is a div element</div>

<!-- *ngIf directive with else block -->
<div *ngIf="!isBtnDisabled; else elseBlock">This is a div element</div>
<ng-template #elseBlock>
  <div>This is else block</div>
</ng-template>

<!-- *ngFor directive -->
<ul>
  <li *ngFor="let color of colors">{{ color }}</li>
</ul>

<!-- *ngFor directive with index -->
<ul>
  <li *ngFor="let color of colors; index as i">{{ i + 1 }} - {{ color }}</li>
</ul>

<!-- *ngSwitch directive -->
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You picked red color</div>
  <div *ngSwitchCase="'blue'">You picked blue color</div>
  <div *ngSwitchCase="'green'">You picked green color</div>
  <div *ngSwitchDefault>Pick a color</div>
</div>

<!-- *ngClass directive -->
<div [ngClass]="messageClasses">This is a div element</div>

<!-- *ngStyle directive -->
<div [ngStyle]="messageStyles">This is a div element</div>
