.nav {
  background-color: orangered;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* global class applicable to all application
:global(.test) {
  background-color: red;
} 
.nav :global(.active) {
  background-color: green;
}

*/
