
<div class="operators">
  <div style="flex: 1">
    <h3 class="heading">Transformation Operators</h3>
    <ul>
      <li><a routerLink="buffer">buffer</a></li>
      <li><a routerLink="bufferCount">bufferCount</a></li>
      <li><a routerLink="bufferTime">bufferTime</a></li>
      <li><a routerLink="bufferToggle">bufferToggle</a></li>
      <li><a routerLink="bufferWhen">bufferWhen</a></li>
      <li><a routerLink="map">map</a></li>
      <li><a routerLink="mapto">mapTo</a></li>
    </ul>
    <h3 class="heading">Filtering Operators</h3>
    <ul>
      <li><a routerLink="take">take</a></li>
      <li><a routerLink="takeLast">takeLast</a></li>
      <li><a routerLink="takeUntil">takeUntil</a></li>
      <li><a routerLink="takeWhile">takeWhile</a></li>
      <li><a routerLink="skip">skip</a></li>
      <li><a routerLink="skipLast">skipLast</a></li>
      <li><a routerLink="skipUntil">skipUntil</a></li>
      <li><a routerLink="skipWhile">skipWhile</a></li>
      <li><a routerLink="distinct">distinct</a></li>
      <li><a routerLink="distinctntilChanged">distinctntilChanged</a></li>
      <li><a routerLink="distinctUntilKeyChanged">distinctUntilKeyChanged</a></li>
      <li><a routerLink="filter">filter</a></li>
      <li><a routerLink="sample">sample</a></li>
      <li><a routerLink="audit">audit</a></li>
      <li><a routerLink="throttle">throttle</a></li>
      <li><a routerLink="first">first</a></li>
      <li><a routerLink="last">last</a></li>
      <li><a routerLink="debounce">debounce</a></li>
      <li><a routerLink="elementat">elementAt</a></li>
      <li><a routerLink="ignoreElements">ignoreElements</a></li>
      <li><a routerLink="single">single</a></li>
    </ul>
    <h3 class="heading">Creation Operators</h3>
    <ul>
      <li><a routerLink="ajax">ajax</a></li>
    </ul>
    <h3 class="heading">Higher-Order Operators</h3>
    <ul>
      <li><a routerLink="mergemap">mergeMap</a></li>
      <li><a routerLink="concatmap">concatMap</a></li>
      <li><a routerLink="exhaustmap">exhaustMap</a></li>
      <li><a routerLink="switchmap">switchMap</a></li>
    </ul>
    <h3 class="heading">Subjects</h3>
    <ul>
      <li><a routerLink="subjects">Subjects</a></li>
    </ul>
  </div>
  <div class="content">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
