
<div class="operators">
  <div class="topic-container">
    <h3 class="heading">Transformation Operators</h3>
    <ul>
      <li class="topic"><a routerLink="buffer">buffer</a></li>
      <li class="topic"><a routerLink="bufferCount">bufferCount</a></li>
      <li class="topic"><a routerLink="bufferTime">bufferTime</a></li>
      <li class="topic"><a routerLink="bufferToggle">bufferToggle</a></li>
      <li class="topic"><a routerLink="bufferWhen">bufferWhen</a></li>
      <li class="topic"><a routerLink="map">map</a></li>
      <li class="topic"><a routerLink="mapto">mapTo</a></li>
    </ul>
    <h3 class="heading">Filtering Operators</h3>
    <ul>
      <li class="topic"><a routerLink="take">take</a></li>
      <li class="topic"><a routerLink="takeLast">takeLast</a></li>
      <li class="topic"><a routerLink="takeUntil">takeUntil</a></li>
      <li class="topic"><a routerLink="takeWhile">takeWhile</a></li>
      <li class="topic"><a routerLink="skip">skip</a></li>
      <li class="topic"><a routerLink="skipLast">skipLast</a></li>
      <li class="topic"><a routerLink="skipUntil">skipUntil</a></li>
      <li class="topic"><a routerLink="skipWhile">skipWhile</a></li>
      <li class="topic"><a routerLink="distinct">distinct</a></li>
      <li class="topic"><a routerLink="distinctntilChanged">distinctntilChanged</a></li>
      <li class="topic"><a routerLink="distinctUntilKeyChanged">distinctUntilKeyChanged</a></li>
      <li class="topic"><a routerLink="filter">filter</a></li>
      <li class="topic"><a routerLink="sample">sample</a></li>
      <li class="topic"><a routerLink="audit">audit</a></li>
      <li class="topic"><a routerLink="throttle">throttle</a></li>
      <li class="topic"><a routerLink="first">first</a></li>
      <li class="topic"><a routerLink="last">last</a></li>
      <li class="topic"><a routerLink="debounce">debounce</a></li>
      <li class="topic"><a routerLink="elementat">elementAt</a></li>
      <li class="topic"><a routerLink="ignoreElements">ignoreElements</a></li>
      <li class="topic"><a routerLink="single">single</a></li>
    </ul>
    <h3 class="heading">Creation Operators</h3>
    <ul>
      <li class="topic"><a routerLink="ajax">ajax</a></li>
    </ul>
    <h3 class="heading">Higher-Order Operators</h3>
    <ul>
      <li class="topic"><a routerLink="mergemap">mergeMap</a></li>
      <li class="topic"><a routerLink="concatmap">concatMap</a></li>
      <li class="topic"><a routerLink="exhaustmap">exhaustMap</a></li>
      <li class="topic"><a routerLink="switchmap">switchMap</a></li>
    </ul>
    <h3 class="heading">Error Handling Operators</h3>
    <ul>
      <li class="topic"><a routerLink="catcherror">catchError</a></li>
      <li class="topic"><a routerLink="retry">retry</a></li>
    </ul>
    <h3 class="heading">Join Creation Operators</h3>
    <ul>
      <li class="topic"><a routerLink="combineLatest">combineLatest</a></li>
      <li class="topic"><a routerLink="concat">concat</a></li>
      <li class="topic"><a routerLink="forkjoin">forkJoin</a></li>
      <li class="topic"><a routerLink="merge">merge</a></li>
      <li class="topic"><a routerLink="partition">partition</a></li>
      <li class="topic"><a routerLink="race">race</a></li>
      <li class="topic"><a routerLink="zip">zip</a></li>
    </ul>
    <h3 class="heading">Schedulers</h3>
    <ul>
      <li class="topic"><a routerLink="scheduler">Schedulers</a></li>
    </ul>
  </div>
  <div class="content">
    <div><router-outlet></router-outlet></div>
  </div>
</div>
