:host {
  display: block;
  font-family: sans-serif;
  margin: 2rem;
  border: 2px solid #3b013b;
  padding: 1rem;
  width: max-content;
}
.form-container {
  display: flex;
}
.form-container #stock-symbol:focus,
.form-container .search-button:focus {
  outline: none;
}
.form-container #stock-symbol{
  font: inherit;
  color: #3b013b;
  margin-right: 1rem;
  padding: 0.1rem 0.25rem;
}
.form-container .search-button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #3b013b;
  background: #3b013b;
  color: white;
  cursor: pointer;
}
.form-container .search-button:hover,
.form-container .search-button:active {
  background: #750175;
}
.form-container .search-button:disabled{
  background: #ccc;
  border: #ccc;
  color: grey;
  cursor: not-allowed;
}