:host {
  display: block;
  font-family: sans-serif;
  margin: 2rem;
  border: 2px solid var(--color-primary, black);
  padding: 1rem;
  width: max-content;
}
:host(.error) {
  border-color: rgb(249, 86, 4);
}
.form-container {
  display: flex;
}
.form-container #stock-symbol:focus,
.form-container .search-button:focus {
  outline: none;
}
.form-container #stock-symbol{
  font: inherit;
  color: var(--color-primary, black);
  margin-right: 1rem;
  padding: 0.1rem 0.25rem;
}
.form-container .search-button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary, black);
  background: var(--color-primary, black);
  color: white;
  cursor: pointer;
}
.form-container .search-button:hover,
.form-container .search-button:active {
  background: var(--color-primary, black);
}
.form-container .search-button:disabled{
  background: #ccc;
  border: #ccc;
  color: grey;
  cursor: not-allowed;
}