<p>Emits only the first value (or the first value that meets some condition) emitted by the source Observable.</p>
<p>Parameters : </p>
<p>predicate - Optional. Default is undefined. An optional function called with each item to test for condition matching.</p>
<p>defaultValue - Optional. Default is undefined.  The default value emitted in case no valid value was found on the source.</p>
<p>Throws - - EmptyError Delivers an EmptyError to the Observer's error callback if the Observable completes before any next notification was sent. This is how first() is different from take(1) which completes instead.</p>
<p>If called with no arguments, first emits the first value of the source Observable, then completes. If called with a predicate function, first emits the first value of the source that matches the specified condition. Emits an error notification if defaultValue was not provided and a matching element is not found.</p>