<p>
  RXJS Operators :<br />
  Operators are functions that take some configuration data, and return the function.
  In RxJS, Operators takes an Observable and returns a new Observable.<br /> <br />
  
  Two kinds of operators:<br/>
  1. Pipeable operator  : That takes observable as an input and returns an observable. 
                          They are pure function. Subscribing to output Observable will also subscribe to th input observable.

<br/>
  2. Creation operator  : Interval, of, from, fromEvent - -> These don't take observables, but they are used to create observable. They are standalone functions
  </p>
