:host {
  display: block;
}
.main {
  position: relative;
}
.tooltip-icon {
  background-color: black;
  color: white;
  padding: 0.15rem 0.4rem;
  text-align: center;
  border-radius: 50%;
}

.tooltip-content {
  background-color: black;
  color: white;
  position: absolute;
  top: 4.5rem;
  left: 8rem;
  z-index: 10;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0, 0.26);
  font-size: 0.8rem;
}